#img_car{
    padding: 4rem;
    width: 1350px;
}

#titreVoiture{
    font-size: 60px;
    color: black;
    font-family: Arial Black;
}

h1{
    font-size: 30px;
    color: blue;
    font-family: Arial;
}


#logo{
    width: 150px;
}

#reduc{
    font-size: 30px;
    color: green;
}

#wrap {
  width: 100%;
  height: 55px;
  margin: 0 auto;
  z-index: 99;
  position: relative;
  background-color: #cccccc;
}

.navbar {
  height: 50px;
  padding: 0;
  margin: 0 auto;
  position: absolute;
}

.navbar li {
  height: auto;
  width: 200px;
  float: left;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  background-color: #cccccc;
}

.navbar a {
  padding: 18px 0;
  border-left: 1px solid #ccc9c9;
  text-decoration: none;
  color: white;
  display: block;
}

.navbar li ul {
  display: none;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.navbar li:hover ul {
  display: block;

}

#menu{
    display: flex;                      /* Transformation en flexbox */
    padding:0;                          /* Suppression des marges internes */
    background-color: #cccccc;          /* Ajout de la couleur d'arrière-plan */
    list-style-type: none ;             /* Suppression des puces */
    justify-content: space-around       /* Alignements des liens dans le menu */
}

#menu li{
    list-style-type: none ;         /* Suppression des puces */
}

#menu a{
    display:block;                  /* Transformation en block */
    min-width: 150px;               /* Largeur minimale des liens */

    margin: 0.5rem;                 /* Marges externes (1 valeurs = 4 directions) */
    padding: 0.4rem 0;              /* Marges internes (2 valeurs = haut/bas et gauche/droite)*/
    /*text-align: center;             /* Centrage du texte */
    background-color: #2870ff;      /* Couleur d'arrière-plan */
    color: #ffffff;                 /* Couleur du texte */
    text-decoration: none;          /* Suppression du soulignement */
    border: 3px solid #fff;         /* Ajout d'une bordure */
    border-radius: 5px;             /* Arrondis des bordures */
    transition: all 0.4s ;          /* Ajout des effets de transition */
}

#menu a.actif{
  background-color: #ffffff;
  color: #2870ff;
  border-color: #2870ff;
}

#menu a:hover {
  background-color: #ffffff;
  color: #2870ff;
  border-color: #2870ff;
}



#home{
    width: 50px;
    height:50px;

}

#tmain{
    font-size: 50px;
    font-family: Arial;
    }


p{
    font-size: 20px;
    color: black;
    font-family: Arial;
}

#formules{
    font-size: 30px;
    color: black;
    font-family: Arial;
}

#creation{
    font-size: 15px;
    color: grey;
    font-style: italic
}

#nsl{
    font-size: 20px;
    color: red;
}

#val{
    font-size: 15px;
    color: red;
    font-style: italic
    }

body{
    background-color: #ddedff;
}
